#map {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: yellow;
}

body, #map {
    margin: 0;
    padding: 0;
}

.mapButton {
    background-color: blue;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    outline: none;
    user-select: none;
}